#keyboardOptional {
    background-color: red;
    height: 100%;
    width: calc(200% / 52);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}
#pianoKeyboard {
    background-color: royalblue;
    height: 100%;
    width: calc(5000% / 52);
}
#keyboardCloseBtn {
    top: 5px;
    left: 5px;
}
#pianoSoundBtn {
    background-image: url(../images/pianoBtn.png);
    background-size: cover;
}
#guitarSoundBtn {
    background-image: url(../images/guitarBtn.jpg);
    background-size: cover;
}

.keyboardFunctionBtn {
    margin-top: 10px;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    background-color: white;
}
.keyboardFunctionBtn:hover {
    background-color: rgb(255, 136, 0);
}
.keysWrapper {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}