* {
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    cursor: default;
    user-select: none;
}
i {
    cursor: pointer;
}
#app {
    height: 100vh;
    width: 100vw;
}

.showPassword {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 8px;
    right: 25px;
    cursor: pointer;
}


#appLogo {
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 100%;
    background-color: rgba(131, 253, 253, 0.3);
    border-radius: 10px;
    animation: logoEnd 2s ease-in-out;
    position: relative;
    color: transparent
}
#appLogo:hover {
    background-color: rgba(108, 176, 253, 0.7);
    animation: logoHover 2s ease-in-out;
    color: rgba(255, 255, 255, 1);
}
#appName {
    position: absolute;
    right: 150px;
    bottom: 35px;
    font-size: 22px;
    font-weight: bolder;
}
#appSlogan {
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 18px;
    font-weight: bold;
    font-style: oblique;
}



.alertAttention {
    animation: alertAttention 3s;
}
#alertWrapper {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    z-index: 99;
}

#alertWrapper .alert {
    display: flex;
    font-weight: bolder;
    width: 400px;
    background-color: rgb(241, 241, 241);
    color: rgb(206, 0, 0);
    text-align: center;
    flex-flow: row;
    justify-content: center;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
}
#alertWrapper #alertTitle {
    border-radius: 0px 0px 10px 10px;
    padding: 0px 10px 10px 10px !important;
    font-weight: 400;
    font-size: 19px;
}
#alertWrapper:hover .alert{
    font-weight: 600 !important;
    background-color: rgb(206, 0, 0);
    color: rgb(241, 241, 241);
}

#promtContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    padding-bottom: 30vh;
    z-index: 99;
}
.promtWrapper {
    display: flex;
    font-weight: bolder;
    width: 400px;
    background-color: rgb(241, 241, 241);
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 50px;
}
.promtWrapper .promtMessage {
    width: 300px;
    text-align: center;
    color: rgba(14, 14, 14, 0.753);
}
.promtWrapper .promtAnswer {
    height: 40px;
    width: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    
}
.promtWrapper .promtAnswer .positiveAnswer {
    color: rgba(0, 0, 255, 0.8);
    cursor: pointer;
    
}
.promtWrapper .promtAnswer .positiveAnswer:hover{
    background-color: rgba(0, 0, 255, 0.8);
    color: white;
}
.promtWrapper .promtAnswer .positiveAnswer:active{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}
.promtWrapper .promtAnswer .negativeAnswer {
    color: rgb(255, 0, 0, 0.8);
    cursor: pointer;
}
.promtWrapper .promtAnswer .negativeAnswer:hover {
    background-color: rgb(255, 0, 0, 0.8);
    color: white;
}
.promtWrapper .promtAnswer .negativeAnswer:active{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgb(170, 170, 170, 0.5);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 93, 199, 0.5);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(35, 89, 190);
    border-radius: 5px;
}




@keyframes logoHover {
    0% {
        background-color: rgba(131, 253, 253, 0.3);
        color: rgba(228, 228, 228, 0.3);
    }
    100% {
        background-color: rgba(108, 176, 253, 0.7);
        color: rgba(255, 255, 255, 1);
    }
}
@keyframes logoEnd {
    0% {
        background-color: rgba(108, 176, 253, 0.7);
        color: rgba(255, 255, 255, 1);
    }
    100% {
        background-color: rgba(131, 253, 253, 0.3);
        color: rgba(228, 228, 228, 0);
    }
}
@keyframes alertAttention {
    0%{
        background-color: rgb(206, 0, 0);
        height: 100vh;
        padding-top: 100vh;
    }
    5% {
        background-color: transparent;
    }
    10% {
        background-color: rgb(206, 0, 0);
    }
    15% {
        background-color: transparent;
    }
    20% {
        background-color: rgb(206, 0, 0);
    }
    25% {
        background-color: transparent;
    }
    30% {
        background-color: rgb(206, 0, 0);
    }
    35%{
        height: auto;
        padding: 0;
        background-color: transparent;
    }
    40%{
        background-color: rgb(206, 0, 0);
    }
    45%{
        background-color: transparent;
    }
    50% {
        background-color: rgb(206, 0, 0);
    }
    55%{
        background-color: transparent;
    }
    60%{
        background-color: rgb(206, 0, 0);
    }
    65%{
        background-color: transparent;
    }
    70%{
        background-color: rgb(206, 0, 0);
    }
    75% {
        background-color: transparent;
    }
    80%{
        background-color: rgb(206, 0, 0);
    }
    85%{
        background-color: transparent;
    }
    90%{
        background-color: rgb(206, 0, 0);
    }
    95%{
        background-color: transparent;
    }
    100% {
        background-color: rgb(206, 0, 0);
    }
}


body {
    background-color: rgba(0, 128, 128, 0.5);
}
#canvas {
    width: 400px;
    height: 100px;
    border-radius: 10px;
}